<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hi</title>
  </head>

  <body>
    <h1>Hi</h1>
    <p>This is an amazing app to help you find the nearest MBTA station</p>
  <!--I want to incorporate the app.py to this html page. I want to have a mapbox and be able to utilize the API-->
    <form action="/mbta" method="post">
      <label for="place">Enter your place</label>
      <input type="text" id="place" name="place" required />
      <button type="submit">Find</button>
    </form>

    <div id="map"></div>

  </body>
</html>
